<!DOCTYPE html>
<html >
<head>
  <title>AIT Repo Closer</title>
  <script src="https://use.fontawesome.com/ac6e918b68.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <h1 class="heading confirm">
      Delete Complete.
      <br/><i class="checkmark fa fa-check-circle-o" aria-hidden="true"></i>
    </h1>
    <div class="separator"></div>
    <h2 class="sub-heading">
      The scheduled job to close the repository has been removed.
    </h2>
    <div class="separator"></div>
    <div class="back-button">
      <button type="button"><a href="/scheduled/delete"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></button>
    </div>
    <div class="spacer"></div>
  </div>
</body>
</html>
