<!DOCTYPE html>
<html >
<head>
  <title>Repo Closer</title>
  <script src="https://use.fontawesome.com/ac6e918b68.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <form method="POST" action="/create-account">
  <div class="container">
    <h1 class="heading">
      AIT Repo Closer
    </h1>
    <div class="top-spacer"></div>
    <div class="wrapper-transparent">
      Enter your information below
    </div>
    <div class="wrapper">
      <input class="" type="text" name="apikey" placeholder="GitHub API key" required></input>
      <button type="button"><i class="fa fa-github" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <!-- <div class="wrapper">
      <input class="" type="text" name="display-name" placeholder="Display name" required></input>
      <button type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div> -->
    <div class="create-account-button">
      <button type="submit">Create</button>
    </div>
    <div class="spacer"></div>
  </div>
  </form>
</body>
</html>
