<!DOCTYPE html>
<html >
<head>
  <title>AIT Repo Closer</title>
  <script src="https://use.fontawesome.com/ac6e918b68.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <!-- <h1 class="heading">
      AIT Repo Closer
    </h1> -->
    <div class="spacer"></div>
    <div class="wrapper">
      <input class="" type="text" placeholder="Which homework to close?"></input>
      <button type="submit"><i class="icon fa fa-folder" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="wrapper">
      <input class="" type="date" placeholder="What date?"></input>
      <button type="submit"><i class="icon fa fa-calendar-o" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="wrapper">
      <input class="" type="time" placeholder="What time?"></input>
      <button type="submit"><i class="icon fa fa-clock-o" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="wrapper">
      <input class="" type="password" placeholder="Password"></input>
      <button type="submit"><i class="icon fa fa-lock" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="submit-button">
      <button type="submit"><i class="icon fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="spacer"></div>
  </div>
</body>
</html>
