<!DOCTYPE html>
<html >
<head>
  <title>AIT Repo Closer</title>
  <script src="https://use.fontawesome.com/ac6e918b68.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <form method="POST" action="/confirm">
  <div class="container">
    <!-- <h1 class="heading">
      AIT Repo Closer
    </h1> -->
    <div class="top-buttons">
      <a href="/new">
      <div class="white-button spaced">
        <button type="button">New</button>
      </div>
      </a>
      <span class="separator-button"></span>
      <a href="/scheduled/view">
      <div class="white-button spaced">
        <button type="button">Scheduled</button>
      </div>
      </a>
      <span class="separator-button"></span>
      <a href="/logout">
      <div class="white-button spaced">
        <button type="button">Logout <i class="fa fa-sign-out" aria-hidden="true"></i> </button>
      </div>
      </a>
    </div>
    <div class="spacer"></div>
    <div class="top-spacer"></div>
    {{#if shouldDisplayError}}
    <div class="wrapper-transparent-error-message">
      Error: Invalid Key
    </div>
    {{/if}}
    <div class="wrapper-transparent">
      Repo closing set up
    </div>
    <div class="wrapper">
      <input class="" type="text" name="organizationName" placeholder="Which organization to close for?" required></input>
      <button type="button"><i class="fa fa-github" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="wrapper">
      <input class="" type="text" name="homeworkName" placeholder="Which homework to close?" required></input>
      <button type="button"><i class="fa fa-folder" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="wrapper">
      <input class="" type="date" name="closingDate" placeholder="What date?" required></input>
      <button type="button"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="wrapper">
      <input class="" type="time" name="closingTime" placeholder="What time?" required></input>
      <button type="button"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="wrapper">
      <input class="" type="password" name="password" placeholder="Key" required></input>
      <button type="button"><i class="fa fa-lock" aria-hidden="true"></i></button>
    </div>
    <div class="separator"></div>
    <div class="submit-button">
      <button type="submit"><i class="icon fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="spacer"></div>
  </div>
  </form>
</body>
</html>
