<!DOCTYPE html>
<html >
<head>
  <title>Repo Closer</title>
  <script src="https://use.fontawesome.com/ac6e918b68.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <form method="POST" action="/authenticate">
  <div class="container">
    <h1 class="heading">
      AIT Repo Closer
    </h1>
    <div class="top-spacer"></div>
    <!-- Title text -->
    <div class="wrapper-main-page">
      Bulk close and manage GitHub repositories for your organization.
    </div>

    <!-- Action buttons -->
    <div class="top-buttons">
      <a href="/authenticate">
      <div class="white-button spaced">
        <button type="button">Authenticate</button>
      </div>
      </a>
      <span class="separator-button"></span>
      <a href="/create-account">
      <div class="white-button spaced">
        <button type="button">Create account</button>
      </div>
      </a>
    </div>
  </div>
  </form>
</body>
</html>
