<!DOCTYPE html>
<html >
<head>
  <title>AIT Repo Closer</title>
  <script src="https://use.fontawesome.com/ac6e918b68.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <!-- <h1 class="heading">
      AIT Repo Closer
    </h1> -->
    <div class="top-buttons">
      <a href="/new">
      <div class="white-button spaced">
        <button type="button">New </button>
      </div>
      </a>
      <span class="separator-button"></span>
      <a href="/scheduled/view">
      <div class="white-button spaced">
        <button type="button">Scheduled</button>
      </div>
      </a>
      <span class="separator-button"></span>
      <a href="/settings">
      <div class="white-button spaced">
        <button type="button">Settings</button>
      </div>
      </a>
      <span class="separator-button"></span>
      <a href="/logout">
      <div class="white-button spaced">
        <button type="button">Logout <i class="fa fa-sign-out fa-navigation-button" aria-hidden="true"></i> </button>
      </div>
      </a>
    </div>

    <div class="spacer"></div>
    <div class="top-spacer"></div>

    <div class="wrapper-transparent">
      My organizations
    </div>
    <div class="wrapper">
      <input class="" type="text" name="organizationName" placeholder="Which organization to close for?" required></input>
      <button type="button"><i class="fa fa-github" aria-hidden="true"></i></button>
    </div>

    <div class="wrapper-transparent">
      My student lists
    </div>
    <div class="wrapper">
      <input class="" type="text" name="organizationName" placeholder="Which organization to close for?" required></input>
      <button type="button"><i class="fa fa-github" aria-hidden="true"></i></button>
    </div>

  </div>
</body>
</html>
